.center { 
	margin:0 auto; 
	max-width: 500px; 
} 


.picTable { 
	background-color: white; 
	color:white; 
} 


html { 
	background-color: #057D25; 
} 

body { 
	margin: 0 auto; 
	padding: 2em 2em 4em; 
	max-width: 800px; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 16px; 
	line-height: 1.5em; 
	padding-top: 100px; 
} 

h1,h2,h3,h4,h5,h6{ 
	color: #000000; 
	font-weight: 600; 
	line-height: 1.3em; 
} 
